
.mdeditor,
.mdeditor-html {
    display: block;
    box-sizing: border-box;
    height: inherit;
    min-height: 200px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
}

.mdeditor {
    float: left;
    width: 50%;
    line-height: 1.5em;
    resize: none;
    outline: none;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.mdeditor:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

.mdeditor::-webkit-scrollbar,
.mdeditor-html::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.mdeditor::-webkit-scrollbar-track-piece,
.mdeditor-html::-webkit-scrollbar-track-piece {
    background: #dedede;
    border-radius: 5px;
}

.mdeditor::-webkit-scrollbar-thumb,
.mdeditor-html::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 5px;
}

.mdeditor::-webkit-scrollbar-thumb:hover,
.mdeditor-html::-webkit-scrollbar-thumb:hover {
    background: #888;
    border-radius: 5px;
}

.mdeditor-html {
    background: #fff;
    border-left: 0;
    overflow-y: auto;
}

.mdeditor-html.preview {
    border: 0;
}

.mdeditor-html .mdeditor-toc {
    color: #337ab7;
    font-size: 14px;
    line-height: 1.5em;
}

.mdeditor-html .mdeditor-toc a,
.mdeditor-html .mdeditor-toc a:link {
    display: block;
    text-decoration: none;
    color: #337ab7;
}

.mdeditor-html .mdeditor-toc-1 {
    font-size: 16px;
    text-indent: 1em;
}

.mdeditor-html .mdeditor-toc-2 {
    text-indent: 2em;
}

.mdeditor-html .mdeditor-toc-3 {
    text-indent: 3em;
}

.mdeditor-html .mdeditor-toc-4 {
    text-indent: 4em;
}

.mdeditor-html .mdeditor-toc-5 {
    text-indent: 5em;
}

.mdeditor-html .mdeditor-toc-6 {
    text-indent: 6em;
}

.mdeditor-html .mdeditor-toc a:visited {
    color: inherit;
}

.mdeditor-html .mdeditor-toc a:hover {
    color: #00f;
}

.mdeditor-html h1,
.mdeditor-html h2,
.mdeditor-html h3,
.mdeditor-html h4,
.mdeditor-html h5,
.mdeditor-html h6 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 700;
    color: #555;
}

.mdeditor-html h1 {
    font-size: 2em;
    color: #333;
}

.mdeditor-html h2 {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 1.7142em;
    color: #333;
}

.mdeditor-html h3 {
    font-size: 1.3571em;
    color: #555;
}

.mdeditor-html h4 {
    font-size: 1.1428em;
}

.mdeditor-html h5 {
    font-size: 1em;
}

.mdeditor-html h6 {
    font-size: 0.8571em;
}

.mdeditor-html p {
    margin: 0 0 10px;
    line-height: 1.7em;
}

.mdeditor-html .md-inline-code,
.mdeditor-html pre,
.mdeditor-html code {
    font-family: "YaHei Consolas Hybrid", Consolas, "Meiryo UI", "Malgun Gothic", "Segoe UI", "Trebuchet MS", Helvetica, monospace, monospace;
}

.mdeditor-html .md-inline-code {
    padding: 3px 5px;
    border: 1px solid #ccc;
    color: #c7254e;
    background-color: #f9f2f4;
}

.mdeditor-ul,
.mdeditor-ul{
    line-height: 1.7em;
}

.mdeditor-html img {
    display: block;
    border: 0;
}

.mdeditor-html .md-code {
    padding: 0;
    margin: 20px 0;
    background: #f6f6f6;
    border: 1px solid #ddd;
    border-radius: 0;
}

.mdeditor-html .md-code ol {
    margin: 20px 5px;
    color: #888;
}

.mdeditor-html .md-code li {
    line-height: 1.7em;
    list-style: inherit;
    color: #333;
}

.mdeditor-html .md-code-line-even {
    background: #eee;
}
