
.mdeditor {
    line-height: 1.8em;
    border: 1px solid #d8d8d8;
    min-height: 100%;
    -webkit-user-modify: read-write-plaintext-only;
    -moz-user-modify: read-write-plaintext-only;
    user-modify: read-write-plaintext-only;
    outline: none;
    background: #fff;
    overflow-y: auto;
    padding: 10px;
}

.mdeditor [row] {
    margin-bottom: 1.5em
}

.mdeditor::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.mdeditor::-webkit-scrollbar-track-piece {
    background: #dedede;
}

.mdeditor::-webkit-scrollbar-thumb {
    background: #aaa;
    border-radius: 4px;
}

.mdeditor::-webkit-scrollbar-thumb:hover {
    background: #999;
}

.mdeditor .mdeditor-toc {
    color: #337ab7;
    line-height: 1.5em;
}

.mdeditor .mdeditor-toc a, .mdeditor .mdeditor-toc a:link {
    display: block;
    text-decoration: none;
    color: #337ab7;
}
